.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
