.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.video__iframes {
  display: flex;
  column-gap: 20px;
  margin: 0 auto;
  bottom: -50px;
  position: relative;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: none;
}
